.app-container {
  text-align: center;
  padding: 3rem;
  font-family: "Open Sans", sans-serif;
}

.main-layout {
  display: flex;
  gap: 3rem;
  margin-top: 2rem;
}

.expense-form {
  flex: 1;
  text-align: center;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 12px;
  background: #f7f7f7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.expense-form input {
  display: block;
  width: 80%;
  margin-bottom: 1.5rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.expense-form button {
  padding: 1rem 2rem;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.searchExpense {
  margin-bottom: 2rem;
  padding: 1rem;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 1rem;
  background: #eee;
  margin-bottom: 1rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
